<!DOCTYPE html>
<html>
    <head>
        <title>Quiz</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet", href ="/style.css">
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
        <script src="/questionPartTemplate.js" charset="utf-8" defer></script>
        <script src="/quiz.js" charset="utf-8" defer></script>
    </head>
    <body>
        <div class="header">
            <a href="/" class="logo">Quiz Game</a>
            <div class="header-right">
                <a href="/">Home</a>
                <a href="/about">About</a>
            </div>
        </div>

        {{{body}}}

    </body>
</html>